body{
  height: 100vh;
  width: 100vw;
}

main{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#game-container{
  position: relative;
  height: 750px;
  width: 640px;
  border: 6px solid black;
}

#game-grid{
  position: absolute;
  bottom: 16px;
  left: 16px;
  right: 16px;
  height: 600px;
  width: 600px;
  border: 4px solid black;
  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
}

.cell{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}